@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
/* Paleta de cores 
    Beije: #B0965F
    Cinza: #525254
*/

/* Typical Device Breakpoints
Pequenas telas: até 600px
Celular: de 600px até 768 px
Tablet: 768px até  992px
Desktop: 992px até 1200px
Grandes telas: acima de 1200px
 */

body, html {
    width: 100vw;
    height: 100vh;
    background-color:#b0965f;

}

 main {
    margin: auto;
    margin-top: 90px;
    width: 45vw;
    height: 75vh;
    background-color: #ffffff;
    border-radius: 10px;
 }

 main > section > div#imagem {
    background-image: url(../imagens/pexels-pixabay-edit.jpg);
    background-size: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 45vw;
    height: 35vh;
    background-color: black;
 }