@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
/* Paleta de cores 
    Beije: #B0965F
    Cinza: #525254
*/

/* Typical Device Breakpoints
Pequenas telas: até 600px
Celular: de 600px até 768 px
Tablet: 768px até  992px
Desktop: 992px até 1200px
Grandes telas: acima de 1200px
 */

 body, html {
    background-color:#b0965f;
    width: 100vw;
    height: 100vh;
}

 main {
    position: relative;
    width: 100vw;
    height: 100vh;
 }

 section#login {
    background-color: #ffffff;
    width: 250px;
    height: 500px;
    border-radius: 20px;
 }